body {
  background-color: #000;
  color: white;
  font-family: "Mulish", sans-serif;
}
p,
h1,
h2,
h3,
ul,
a,
img {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  display: block;
}
.container {
  width: 1600px;
  padding: 0 80px;
  border: 1px solid red;
}
header {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
}
.navigation {
  font-family: "Mulish";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  
  text-align: center;

  color: #ffffff;
  gap: 54px;
}
.nav-item{
   color: #fff; 
   padding: 40px 0;
   
}
.header-icon-list {
  display: flex;
  gap: 75px;
  padding: 40px 0;
}
.header-icon {
  stroke: #fff;
}
.header-icon-btn {
  background-color: transparent;
  border: none;
}
.logo-link {
  display: flex;
  color: #fff;
  width: 70px;
  height: 70px;
  border: 4px solid transparent;
  background: linear-gradient(#000, #000) padding-box,
    linear-gradient(to right, #326cff 0%, #26fff2 100%) border-box;
  border-radius: 14px;
  justify-content: center;
  align-items: center;
}
.header-logo {
  font-family: "Russo One", sans-serif;
  font-size: 40px;

}

.logo-box {

  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 40px;
  margin-left: 14px;
  
}
.logo-container{
    display: flex;
    align-items: center;
}

.navigation {
  display: flex;
}
.icon-list {
  display: flex;
}
